/* board colors */

$board-selected: #999;

div#chessboard {
	div:nth-child(odd) div:nth-child(odd),
	div:nth-child(even) div:nth-child(even) {
		background:#ccc;
		background:-moz-linear-gradient(top, #ccc, #eee);
		background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
		box-shadow:inset 0 0 10px rgba(0,0,0,.4);
		-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4); }
	div:nth-child(odd) div:nth-child(odd).selected,
	div:nth-child(even) div:nth-child(even).selected {
 		background: $board-selected;
		background:-moz-linear-gradient(top, $board-selected, #eee);
		background:-webkit-gradient(linear,0 0, 0 100%, from($board-selected), to(#eee));
		box-shadow:inset 0 0 10px rgba(0,0,0,.4);
		-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4); } }

div#chessboard div {
	float: left;
	width: 100%;
	div {
		float: left;
		width: 12.5%;
		padding-bottom: 12.5%;
		background:#fff;
		background:-moz-linear-gradient(top, #fff, #eee);
		background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
		box-shadow:inset 0 0 0 1px #fff;
		-moz-box-shadow:inset 0 0 0 1px #fff;
		-webkit-box-shadow:inset 0 0 0 1px #fff; }
	div.selected {
		background:$board-selected;
		background:-moz-linear-gradient(top, $board-selected, #eee);
		background:-webkit-gradient(linear,0 0, 0 100%, from($board-selected), to(#eee));
		box-shadow:inset 0 0 10px rgba(0,0,0,.4);
		-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4); }
	/* chess piece */
	a {
		color: #000;
		position:absolute;
		text-decoration: none;
		text-shadow: 0 1px #fff; } }