/* board colors */
div#chessboard {
  max-width: 800px; }
  div#chessboard div:nth-child(odd) div:nth-child(odd),
  div#chessboard div:nth-child(even) div:nth-child(even) {
    background: #ccc;
    background: -moz-linear-gradient(top, #cccccc, #eeeeee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#eeeeee));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4); }
  div#chessboard div:nth-child(odd) div:nth-child(odd).selected,
  div#chessboard div:nth-child(even) div:nth-child(even).selected {
    background: #999999;
    background: -moz-linear-gradient(top, #999999, #eeeeee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#eeeeee));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4); }

div#chessboard div {
  float: left;
  width: 100%;
  /* chess piece */ }
  div#chessboard div div {
    float: left;
    width: 12.5%;
    padding-bottom: 12.5%;
    background: #fff;
    background: -moz-linear-gradient(top, white, #eeeeee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#eeeeee));
    box-shadow: inset 0 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff; }
  div#chessboard div div.selected {
    background: #999999;
    background: -moz-linear-gradient(top, #999999, #eeeeee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#eeeeee));
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4); }
  div#chessboard div a {
    color: #000;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 1px #fff; }

